---
title: Karriere
layout: page
share-img: images/undraw_online_resume_qyys.svg.png
subtitle: Werde Teil der Osnabrücker Talentschmiede für Künstliche Intelligenz und Digitales
---

<div class="row">
  <div class="col-4 col-12-medium">
    <!-- Sidebar -->
    <section class="box">
      <!-- <a href="#" class="image featured"
        ><img src="/images/pic09.jpeg" alt=""
      /></a> -->
      <header>
        <h3>Links</h3>
      </header>
      <ul>
        {% for career in site.data.career %}
        <li><a href="#{{forloop.index}}">{{ career.title }}</a></li>
        {% endfor %}
      </ul>
      <footer></footer>
    </section>
  </div>

  <div class="col-8 col-12-medium imp-medium">
    <!-- Content -->
    <article class="box post">
      {% for career in site.data.career %}
      <section>
        <h4 id="{{forloop.index}}">{{ career.title }}</h4>
        <p>{{ career.text }}</p>
        {% if career.action %}
        <p class="block-buttons">
          <a
            href="{{ career.action.url | relative_url }}"
            class="button secondary"
            >{{ career.action.label }}</a
          >
        </p>
        {% endif %}
      </section>
      {% endfor %}

      <footer>
        <h3>
          Schreib uns eine E-Mail mit deiner Bewerbung an
          <a href="mailto:career@mmmint.ai">career@mmmint.ai</a>
        </h3>
        <br />
      </footer>
    </article>
    <div>
      <img src="/images/undraw_online_resume_qyys.svg" />
    </div>
  </div>
</div>

<script type="application/ld+json">
  [
    {
      "@context": "https://schema.org/",
      "@type": "JobPosting",
      "title": "Praktikant Business Development (m/w/d)",
      "description": "<p>Du wolltest schon immer ein Startup mit aufbauen? Du hast Kontakte in der Automobil-, Werkstatt- oder Versicherungsbranche? Du vernetzt dich gerne? Ein hohes Maß an Eigenständigkeit ist dir wichtig? Dann bewirb dich jetzt und sei von Anfang an dabei!</p>",
      "datePosted": "2021-01-01",
      "validThrough": "2021-12-01",
      "applicantLocationRequirements": {
        "@type": "Country",
        "name": "Deutschland"
      },
      "hiringOrganization": {
        "@type": "Organization",
        "name": "MMM Intelligence",
        "sameAs": "https://www.mmmint.ai/",
        "logo": "https://www.mmmint.ai/images/logo.png"
      },
      "jobLocationType": "TELECOMMUTE",
      "employmentType": "INTERNSHIP"
    },
    {
      "@context": "https://schema.org/",
      "@type": "JobPosting",
      "title": "UI- & UX-Design (m/w/d)",
      "description": "<p>Du brennst für Design und empfindest das Nutzererlebnis als die wichtigste Komponente einer Applikation? Du bist perfektionistisch und willst, dass jeder Pixel richtig sitzt? Bewirb dich jetzt als UI & UX Designer (m/w/d) und arbeite eng mit unserem Entwicklerteam zusammen!</p>",
      "datePosted": "2020-01-01",
      "validThrough": "2020-12-01",
      "applicantLocationRequirements": {
        "@type": "Country",
        "name": "Deutschland"
      },
      "hiringOrganization": {
        "@type": "Organization",
        "name": "MMM Intelligence",
        "sameAs": "https://www.mmmint.ai/",
        "logo": "https://www.mmmint.ai/images/logo.png"
      },
      "jobLocationType": "TELECOMMUTE",
      "employmentType": "PART-TIME"
    },
    {
      "@context": "https://schema.org/",
      "@type": "JobPosting",
      "title": "Full-Stack Developer (m/w/d)",
      "description": "<p>Du brennst fürs Coden und wolltest schon immer in einem innovativen und dynamischen Start-Up arbeiten? Wir bieten dir exzellente Einblicke in die moderne Cloud- und Webentwicklung. Lerne in unserem Dojo, wie sich virtuelle Start-Ups mit modernster Technologie zukunftssicher und skalierbar platzieren.</p>",
      "datePosted": "2020-01-01",
      "validThrough": "2020-12-01",
      "applicantLocationRequirements": {
        "@type": "Country",
        "name": "Deutschland"
      },
      "hiringOrganization": {
        "@type": "Organization",
        "name": "MMM Intelligence",
        "sameAs": "https://www.mmmint.ai/",
        "logo": "https://www.mmmint.ai/images/logo.png"
      },
      "jobLocationType": "TELECOMMUTE",
      "employmentType": "FULLTIME"
    },
    {
      "@context": "https://schema.org/",
      "@type": "JobPosting",
      "title": "Data Scientist (m/w/d)",
      "description": "<p>Du erkennst auf Anhieb die PI Nummernfolge im Telefonbuch? Statistik und Python sind dir ein Begriff? Du würdest gerne an intelligenten Lösungen wie Bild- und Videoerkennung arbeiten? Du hast Interesse an OCR sowie der Analyse von Datensätzen? Bewirb dich bei uns und sei Teil davon, smarte Applikationen unter Anwendung der neuesten wissenschaftlichen Erkentnisse weiter zu bringen!</p>",
      "datePosted": "2020-01-01",
      "validThrough": "2020-12-01",
      "applicantLocationRequirements": {
        "@type": "Country",
        "name": "Deutschland"
      },
      "hiringOrganization": {
        "@type": "Organization",
        "name": "MMM Intelligence",
        "sameAs": "https://www.mmmint.ai/",
        "logo": "https://www.mmmint.ai/images/logo.png"
      },
      "jobLocationType": "TELECOMMUTE",
      "employmentType": "PART-TIME"
    }
  ]
</script>
